{% extends 'base.html' %}

{% load static %}

{% block 'main' %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <div class="container"><!--filter start-->
            <div class="row bg-body-secondary">
                <div class="col-md-4">
                    <h5>Filter by category</h5>
                    <hr>
                    <p><a class="anchor" href="#">By Mobile</a></p>
                    <p><a class="anchor" href="#">By Shoes</a></p>
                    <p><a class="anchor" href="#">By Cloths</a></p>

                    <h5>Filter by Price</h5>
                    <hr>
                    <div class="mb-3">
                    <form action="">
                        <label for="Input1" class="form-label">Min Value</label>
                        <input type="number" class="form-control" id="Input1" placeholder="Min Value">
                        <label for="Input2" class="form-label">Max Value</label>
                        <input type="number" class="form-control" id="Input2" placeholder="Max Value">

                        <div class="mb-3">
                        <input type="submit" value="Submit" class="btn btn-danger">
                        </div>
                    </form>
                </div>
                <h5>Sorted by Price</h5>
                <hr>
                <p><a class="anchor" href="#">Low to High</a></p>
                <p><a class="anchor" href="#">High to Low</a></p>

                </div><!-- Filter end-->

                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-4"> <!--Product 1 start-->
                            <div class="card" style="width: 100%;">
                                <img src="{% static 'images\download.jpeg' %}" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">Samsung Galaxy M34</h5>
                                  <p class="card-text">MIdnight Blue, 256GB Rom 12GB Ram, Triple OIS Camera</p>
                                  <a href="/pdetails" class="btn btn-primary">Add Cart</a>
                                </div>
                              </div>
                        </div> <!--Product 1 end-->
                        <div class="col-md-4"> <!--Product 2 start-->
                            <div class="card" style="width: 100%;">
                                <img src="{% static 'images\download.jpeg' %}" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">Samsung Galaxy M34</h5>
                                  <p class="card-text">MIdnight Blue, 256GB Rom 12GB Ram, Triple OIS Camera</p>
                                  <a href="/pdetails" class="btn btn-primary">Show Details</a>
                                </div>
                              </div>
                        </div>  <!--Product 2 end-->
                        <div class="col-md-4">  <!--Product 3 start-->
                            <div class="card" style="width: 100%;">
                                <img src="{% static 'images\download.jpeg' %}" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">Samsung Galaxy M34</h5>
                                  <p class="card-text">MIdnight Blue, 256GB Rom 12GB Ram, Triple OIS Camera</p>
                                  <a href="/pdetails" class="btn btn-primary">Add Cart</a>
                                </div>
                              </div>
                        </div>  <!--Product 3 end-->

                        <div class="col-md-4 mt-4"> <!--Product 4 start-->
                            <div class="card" style="width: 100%;">
                                <img src="{% static 'images\download.jpeg' %}" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">Samsung Galaxy M34</h5>
                                  <p class="card-text">MIdnight Blue, 256GB Rom 12GB Ram, Triple OIS Camera</p>
                                  <a href="/pdetails" class="btn btn-primary">Add Cart</a>
                                </div>
                              </div>
                        </div> <!--Product 4 end-->
                        <div class="col-md-4 mt-4"> <!--Product 5 start-->
                            <div class="card" style="width: 100%;">
                                <img src="{% static 'images\download.jpeg' %}" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">Samsung Galaxy M34</h5>
                                  <p class="card-text">MIdnight Blue, 256GB Rom 12GB Ram, Triple OIS Camera</p>
                                  <a href="/pdetails" class="btn btn-primary">Add Cart</a>
                                </div>
                              </div>
                        </div>  <!--Product 5 end-->
                        <div class="col-md-4 mt-4">  <!--Product 6 start-->
                            <div class="card" style="width: 100%;">
                                <img src="{% static 'images\download.jpeg' %}" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">Samsung Galaxy M34</h5>
                                  <p class="card-text">MIdnight Blue, 256GB Rom 12GB Ram, Triple OIS Camera</p>
                                  <a href="/pdetails" class="btn btn-primary">Add Cart</a>
                                </div>
                              </div>
                        </div>  <!--Product 6 end-->


                    </div>
                </div><!-- product end-->
            </div>
        </div><!-- Product and filter end -->
        <script src="" async defer></script>
    </body>
</html>


{% endblock 'main'%}